body {
    margin: 0px;
    background-color: #000
}

h1 {
    color: #fff;
    text-align: left;
    font-size: 50px;
    padding: 10px 0px 0px 50px;
    margin: 0px;
    text-decoration: underline;
}

/*h2 {
    position: absolute;
    top: 2px;
    right: 20px;
    color: #fff;
} este codigo faz ele ficar fixo no conto superior direito*/

h2{
    margin-right: 30px;
}


h3{
    color: #fff;
    padding: 10px;
    font-size: 32px;
    margin: 10px;
    grid-column: 1;
    font-size: 80px;

}



.opcoes {
    font-size: 20px;


}

.HomeBar {
    color: #fff;
    text-decoration: underline;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.grid{
    display: grid;
    margin-top: 5%;
    margin-left: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

img{
    max-width: 70%;
    border-radius: 4px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    position: relative;
    top: 50px;
}

.frase{
    font-size: 32px;
}

.barra{
    background-color: #fff;
    color: #fff;
    padding: 10%;
}